body {
    margin: 0;
    background-image: url(thinker.jpg) ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.header {
    font-family: 'Lora', serif;
}


/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: 87ceeb;
}
li a {
    display: block;
    color: #000;
    padding: 10px 16px;
    text-decoration: none;    
}
li a.active {
    background-color: red;
    color: white;
}
li a:hover:not(.active) {
    background-color: black;
    color:gray;
} */